<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addison Liquors Parking</title>
</head>
<body>
    Beginning
    <br>
        <%- body %>
    <br>
    End
</body>
</html>